.techRequests .reqs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:2%;

}
.techRequests .reqs .card{
    width: 23%;
    margin-bottom: 1rem;

}
.techRequests .reqs .card .card-img-top{
    width: 100%;
    height: 60%;
}
.techRequests .reqs .card .card-img-top img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
    object-position: top;
    
}
